{
  "openWithInventory" : true,

  "paneLayout" : {
    "windowtitle" : {
      "type" : "title",
      "title" : "Wardrobe Editor",
      "subtitle" : "^#b9b5b2;Layered cosmetics",
      "icon" : {
        "type" : "image",
        "file" : "/interface/xsb/wardrobe/icon.png",
        "zlevel" : -1
      }
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/xsb/wardrobe/header.png",
      "fileBody" : "/interface/xsb/wardrobe/body.png",
      "fileFooter" : "/interface/xsb/wardrobe/footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [108, 236]
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/xsb/wardrobe/shine.png",
      "position" : [-50, 6],
      "zlevel" : -10
    },
    "portrait" : {
      "type" : "portrait",
      "position" : [62, 200],
      "scale" : 2
    },
    "headCosmetic" : {
      "type" : "itemslot",
      "position" : [10, 90],
      "backingImage" : "/interface/inventory/backingimagehead.png",
      "data" : {
        "tooltipText" : "Head Cosmetic"
      }
    },
    "headCosmeticLayer1" : {
      "type" : "itemslot",
      "position" : [30, 90],
      "backingImage" : "/interface/inventory/backingimagesocial.png",
      "data" : {
        "tooltipText" : "Head Layer 1"
      }
    },
    "headCosmeticLayer2" : {
      "type" : "itemslot",
      "position" : [50, 90],
      "backingImage" : "/interface/inventory/backingimagesocial.png",
      "data" : {
        "tooltipText" : "Head Layer 2"
      }
    },
    "headCosmeticLayer3" : {
      "type" : "itemslot",
      "position" : [70, 90],
      "backingImage" : "/interface/inventory/backingimagesocial.png",
      "data" : {
        "tooltipText" : "Head Layer 3"
      }
    },
    "headCosmeticLayer4" : {
      "type" : "itemslot",
      "position" : [90, 90],
      "backingImage" : "/interface/inventory/backingimagesocial.png",
      "data" : {
        "tooltipText" : "Head Layer 4"
      }
    },
    "chestCosmetic" : {
      "type" : "itemslot",
      "position" : [10, 70],
      "backingImage" : "/interface/inventory/backingimagechest.png",
      "data" : {
        "tooltipText" : "Chest Cosmetic"
      }
    },
    "chestCosmeticLayer1" : {
      "type" : "itemslot",
      "position" : [30, 70],
      "backingImage" : "/interface/inventory/backingimagesocial.png",
      "data" : {
        "tooltipText" : "Chest Layer 1"
      }
    },
    "chestCosmeticLayer2" : {
      "type" : "itemslot",
      "position" : [50, 70],
      "backingImage" : "/interface/inventory/backingimagesocial.png",
      "data" : {
        "tooltipText" : "Chest Layer 2"
      }
    },
    "chestCosmeticLayer3" : {
      "type" : "itemslot",
      "position" : [70, 70],
      "backingImage" : "/interface/inventory/backingimagesocial.png",
      "data" : {
        "tooltipText" : "Chest Layer 3"
      }
    },
    "chestCosmeticLayer4" : {
      "type" : "itemslot",
      "position" : [90, 70],
      "backingImage" : "/interface/inventory/backingimagesocial.png",
      "data" : {
        "tooltipText" : "Chest Layer 4"
      }
    },
    "legsCosmetic" : {
      "type" : "itemslot",
      "position" : [10, 50],
      "backingImage" : "/interface/inventory/backingimagelegs.png",
      "data" : {
        "tooltipText" : "Leg Cosmetic"
      }
    },
    "legsCosmeticLayer1" : {
      "type" : "itemslot",
      "position" : [30, 50],
      "backingImage" : "/interface/inventory/backingimagesocial.png",
      "data" : {
        "tooltipText" : "Leg Layer 1"
      }
    },
    "legsCosmeticLayer2" : {
      "type" : "itemslot",
      "position" : [50, 50],
      "backingImage" : "/interface/inventory/backingimagesocial.png",
      "data" : {
        "tooltipText" : "Leg Layer 2"
      }
    },
    "legsCosmeticLayer3" : {
      "type" : "itemslot",
      "position" : [70, 50],
      "backingImage" : "/interface/inventory/backingimagesocial.png",
      "data" : {
        "tooltipText" : "Leg Layer 3"
      }
    },
    "legsCosmeticLayer4" : {
      "type" : "itemslot",
      "position" : [90, 50],
      "backingImage" : "/interface/inventory/backingimagesocial.png",
      "data" : {
        "tooltipText" : "Leg Layer 4"
      }
    },
    "backCosmetic" : {
      "type" : "itemslot",
      "position" : [10, 27],
      "backingImage" : "/interface/inventory/backingimageback.png",
      "data" : {
        "tooltipText" : "Back Cosmetic"
      }
    },
    "backCosmeticLayer1" : {
      "type" : "itemslot",
      "position" : [30, 27],
      "backingImage" : "/interface/inventory/backingimagesocial.png",
      "data" : {
        "tooltipText" : "Back Layer 1"
      }
    },
    "backCosmeticLayer2" : {
      "type" : "itemslot",
      "position" : [50, 27],
      "backingImage" : "/interface/inventory/backingimagesocial.png",
      "data" : {
        "tooltipText" : "Back Layer 2"
      }
    },
    "backCosmeticLayer3" : {
      "type" : "itemslot",
      "position" : [70, 27],
      "backingImage" : "/interface/inventory/backingimagesocial.png",
      "data" : {
        "tooltipText" : "Back Layer 3"
      }
    },
    "backCosmeticLayer4" : {
      "type" : "itemslot",
      "position" : [90, 27],
      "backingImage" : "/interface/inventory/backingimagesocial.png",
      "data" : {
        "tooltipText" : "Back Layer 4"
      }
    }
  }
}
