{
  "assetDirectories" : [
    "../xsb-assets/",
    "../mods/",
    "$HOME/GOG Games/Starbound/game/assets",
    "$HOME/.local/share/Steam/steamapps/common/Starbound/assets",
    "$HOME/.local/share/xStarbound/assets",
    "$HOME/.local/share/Starbound/assets"
  ],

  "storageDirectory" : "$HOME/.local/share/xStarbound",

  "assetsSettings" : {
    "pathIgnore" : [],
    "digestIgnore" : [
      ".*"
    ]
  },

  "defaultConfiguration" : {
    "allowAdminCommandsFromAnyone" : true,
    "anonymousConnectionsAreAdmin" : true
  }
}

