{
  "assetDirectories" : [
    "../xsb-assets/",
    "../mods/"
  ],

  "storageDirectory" : null,

  "assetsSettings" : {
    "pathIgnore" : [],
    "digestIgnore" : [
      ".*"
    ]
  },

  "defaultConfiguration" : {
    "allowAdminCommandsFromAnyone" : true,
    "anonymousConnectionsAreAdmin" : true
  }
}

