.cache/
assets/*.pak
assets/devel/
assets/user/
attic/chucklefish/
build-mingw/
build-qt/
build-runtime/
build/
enc_temp_folder/
mods/*
mods/*.pak
tiled/
xsb-assets/*.pak
inno-installer/xsb-win64/*.exe
inno-installer/xsb-win64/*.dll
inno-installer/xsb-win64/*.dll~
inno-installer/xsb-win64/*.config
inno-installer/xsb-assets/*.pak
inno-installer/compiled

# MSVC stuff
*/.vs/
*.vs/
*.sln
*.suo
*.vcxproj*

# CMake stuff
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeUserPresets.json
_deps

# VS Code stuff
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

# macOS stuff
macos/dist
.DS_Store
