1 VERSIONINFO
FILEVERSION     2,1,2,0
PRODUCTVERSION  2,1,2,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "xSB and OpenSB contributors / Chucklefish LTD"
      VALUE "FileDescription", "xSB xClient"
      VALUE "FileVersion", "2.1.2"
      VALUE "InternalName", "xclient"
      VALUE "LegalCopyright", "xSB and OpenSB contributors / Chucklefish LTD"
      VALUE "OriginalFilename", "xclient.exe"
      VALUE "ProductName", "xSB::xClient"
      VALUE "ProductVersion", "2.1.2"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
icon ICON "xclient-largelogo.ico"
