1 VERSIONINFO
FILEVERSION     3,0,1,0
PRODUCTVERSION  3,0,1,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "FezzedOne and other contributors / Chucklefish LTD"
      VALUE "FileDescription", "xClient"
      VALUE "FileVersion", "3.0.1r1"
      VALUE "InternalName", "xclient"
      VALUE "LegalCopyright", "FezzedOne and other contributors / Chucklefish LTD"
      VALUE "OriginalFilename", "xclient.exe"
      VALUE "ProductName", "xClient"
      VALUE "ProductVersion", "3.0.1r1"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
icon ICON "xclient-largelogo.ico"
