{
  "assetDirectories" : [
    "..\\assets\\",
    "..\\xsb-assets\\",
    "..\\mods\\"
  ],

  "storageDirectory" : "..\\storage\\",

  "assetsSettings" : {
    "pathIgnore" : [],
    "digestIgnore" : [
      ".*"
    ]
  },

  "defaultConfiguration" : {
    "allowAdminCommandsFromAnyone" : true,
    "anonymousConnectionsAreAdmin" : true,

    "gameServerBind" : "*",
    "queryServerBind" : "*",
    "rconServerBind" : "*"
  }
}
