{
  "frameBuffer" : "world",

  "effectParameters" : {
    "lightMapEnabled" : {
      "type" : "bool",
      "default" : true,
      "uniform" : "lightMapEnabled"
    },
    "lightMapScale" : {
      "type" : "vec2",
      "default" : [1, 1],
      "uniform" : "lightMapScale"
    },
    "lightMapOffset" : {
      "type" : "vec2",
      "default" : [0, 0],
      "uniform" : "lightMapOffset"
    },
    "lightMapMultiplier" : {
      "type" : "float",
      "default" : 1.0,
      "uniform" : "lightMapMultiplier"
    },

    "param1" : {
      "type" : "vec3",
      "default" : [0.0, 0.0, 0.0],
      "uniform" : "param1"
    },
    "param2" : {
      "type" : "vec3",
      "default" : [0.0, 0.0, 0.0],
      "uniform" : "param2"
    },
    "param3" : {
      "type" : "vec3",
      "default" : [0.0, 0.0, 0.0],
      "uniform" : "param3"
    },
    "param4" : {
      "type" : "vec3",
      "default" : [0.0, 0.0, 0.0],
      "uniform" : "param4"
    },
    "param5" : {
      "type" : "vec3",
      "default" : [0.0, 0.0, 0.0],
      "uniform" : "param5"
    },
    "param6" : {
      "type" : "vec3",
      "default" : [0.0, 0.0, 0.0],
      "uniform" : "param6"
    }
  },

  "effectTextures" : {
    "lightMap" : {
      "textureUniform" : "lightMap",
      "textureSizeUniform" : "lightMapSize",
      "textureAddressing" : "clamp",
      "textureFiltering" : "linear"
    },
    "tileLightMap" : {
      "textureUniform" : "tileLightMap",
      "textureAddressing" : "clamp",
      "textureFiltering" : "linear"
    }
  },

  "effectShaders" : {
    "vertex" : "world.vert",
    "fragment" : "world.frag"
  }
}